@use 'globals/reset';
@use 'globals/typography';
@use 'globals/variables' as *;
@use 'globals/mixins.scss' as *;

/// HEADER SECTION ///
header{
    // NAVBAR SECTION
    .navbar-container{
        @include flex-setup-0;
        justify-content: space-between;
        margin: 2rem 4rem;

        .nav-logo{
            a{
                img{
                    width: 75px;
                }
            }
        }

        .nav-links{
            .links{
                font-size: 1.15rem;
                font-weight: 700;
                color: #171717;
                margin-right: 2rem;

                &:hover{
                    color: $orange-color;
                    transition: color .25s;
                }
            }

            .about{
                position: relative;
                padding-bottom: .55rem;
                text-align: center;
                transition: .3s linear;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: .35rem;
                    height: .35rem;
                    background-color: #171717;
                    border-radius: 50%;
                    transition: width .3s, border-radius .3s; 
                }

                &:hover::after {
                    width: calc(100% - .36rem);
                    height: .20rem;
                    border-radius: 0;
                    background-color: $orange-color;
                }
            }

            .links-1{
                margin-right: 0;
            }
        }

        .nav-btn{
            @include flex-setup-0;

            .icon{
                @include flex-setup-0;
                justify-content: center;
                background: $orange-color;
                border-radius: 50%;
                padding: .70rem;
                margin-right: .5rem;

                img{
                    width: 1.5rem;
                }
            }

            .hotline{
                .dispo{
                    font-size: .7rem;
                    font-weight: 700;
                    color: #4c4b4b;
                    margin-bottom: .15rem;
                }

                .number{
                    font-size: .950rem;
                    font-weight: 900;
                    color: #171717;
                }
            }
        }
    }

    .hero-section{
        @include flex-setup-0;
        justify-content: space-between;
        margin: 3rem 0 3rem 4rem;

        .hero-text{
            flex: 1 0 50%;

            .wrapper{
                width: auto;
                margin-bottom: 1.5rem;

                .effect-wrapper{
                    color: #171717;
                    font-size: 4.25rem;
                    font-weight: 900;
                    line-height: 5rem;
                    letter-spacing: -0.06944rem;

                    #typed{
                        font-weight: bold;
                        color: $orange-color;
                        // border-bottom: 4px solid $orange-color;
                    }
                      
                    .cursor{
                        display: inline-block;
                        background-color: $orange-color;
                        animation: blinker 800ms infinite;
                    }
                    
                    .cursor.typing-true{
                        animation: none;
                    }
                    
                    @keyframes blinker{
                        0% { background-color: $orange-color; }
                        50% { background-color: transparent; }
                        100% { background-color: $orange-color; }
                    }
                }
            }
              
            p{
                color: #4c4b4b;
                font-size: 1.15rem;
                font-weight: 500;
                line-height: 1.75rem;
                width: 80%;
                text-wrap: balance;
                margin-bottom: 4rem;
            }
              
            .cta{
                position: relative;
                margin: auto;
                padding: 12px 18px;
                transition: all 0.2s ease;
                border: none;
                background: none;
                cursor: pointer;
              
                &:before{
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: block;
                  border-radius: 50px;
                  background: #fdccb3;
                  width: 45px;
                  height: 45px;
                  transition: all 0.3s ease;
                }
              
                span{
                  position: relative;
                  font-size: 1.15rem;
                  font-weight: 600;
                  letter-spacing: 0.05em;
                  color: $orange-color;
                }
              
                .fa-arrow-right{
                  position: relative;
                  font-size: 1.4rem;
                  color: $orange-color;
                  top: 3px;
                  margin-left: 14px;
                  transform: translateX(-5px);
                  transition: all 0.3s ease;
                }
              
                &:hover:before{
                  width: 100%;
                  background: #fdccb3;
                }
              
                &:hover .fa-arrow-right{
                  transform: translateX(0);
                }
              
                &:active{
                  transform: scale(0.95);
                }
            }
        }

        .hero-image{
            flex: 1 0 50%;

            img{
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

/// HEADER SECTION ///
main{
    // BRAND SECTION
    .brand-logo-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .brand-logo{
            width: 130px;
            height: 130px;
            @include flex-setup-0;
            justify-content: center;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        
            img{
                width: 100%;
                max-height: 100%;
                aspect-ratio: 3/3;
                object-fit: contain;
            }
        
            &:hover{
                cursor: pointer;
                filter: grayscale(0%);
            }
        }
    }
}