@use 'variables' as *;

@mixin flex-setup-0{
    display: flex;
    align-items: center;
}

@mixin flex-setup-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin h2-setup{
    position: relative;
    font-size: 2.5rem;
    color: $black-color;
    padding-bottom: .8rem;
    margin-bottom: 1.5rem;

    &::before{
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #d3d2d2;
        bottom: 1px;
        left: calc(50% - 60px);
    }

    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: $orange-color;
        bottom: 0;
        left: calc(50% - 20px);
    }
}

@mixin h3-setup{
    color: $black-color;
    font: 900 1.4rem / 1.25 $font-family;
    position: relative;
    z-index: 2;
    transition: 0.5s;
    margin-bottom: .5rem;
}

@mixin header-setup{
    color: $light-black-color;
    font: 500 1.15rem / 1.5 $font-family;
    margin-bottom: .900rem;
    text-wrap: pretty;
    @include flex-setup-1;
    gap: 0 5px;

    img{
        max-width: 100%;
    }
}