$orange-color: #E78050;
$gradient: linear-gradient(#171717 0 0);
$black-color: #171717;
$light-black-color: #6f6f6f;
$color-white: #fff;
$paragraph-font-size: 1.15rem;
$font-family: 'Roboto', Helvetica, 'Segoe UI', Arial, sans-serif;